body {
  font-size: 16px; }
  @media (max-width: 480px) {
    body {
      font-size: 14px; } }

html, body {
  font-family: 'Open Sans', Arial, sans-serif;
  color: #fff;
  line-height: 1.42;
  background: #17191c;
  height: 100%;
  width: 100%; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: transparent; }

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.wrapper-main {
  background: url(../img/hero.png) center top no-repeat, url(../img/bottom-pic.png) center bottom no-repeat; }

.header {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto; }

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto; }

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto; }

.container {
  width: 95%;
  max-width: 1040px;
  margin: 0 auto; }

ul > li {
  list-style: none; }

ul {
  margin: 0;
  padding: 0; }

p {
  margin: 0;
  padding: 0; }

a {
  color: inherit;
  text-decoration: none; }

img {
  max-width: 100%; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
  font-style: normal; }

h1 {
  font-size: 72px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.34; }

h2 {
  font-size: 36px;
  display: block;
  font-weight: bold; }

h3 {
  font-size: 32px;
  font-weight: bold; }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

.index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/bg.png) center center/cover no-repeat; }

.index__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../img/rec.png) center center/cover no-repeat;
  min-width: 53%;
  min-height: 58%; }

@media (max-width: 480px) {
  .index__img-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; } }

.index__img {
  margin-bottom: 40px;
  width: 100%; }

#blink {
  -webkit-animation: blink 3s linear infinite;
  animation: blink 3s linear infinite; }

@-webkit-keyframes blink {
  0% {
    opacity: 0.3; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0.3; } }
@keyframes blink {
  0% {
    opacity: 0.4; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0.4; } }
.index__central {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .index__central--video {
    opacity: 0;
    -webkit-animation: rotate .8s;
            animation: rotate .8s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards; }

@-webkit-keyframes rotate {
  from {
    -webkit-transform: scale(0.1) rotate(40deg);
            transform: scale(0.1) rotate(40deg); }
  50% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg); }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes rotate {
  from {
    -webkit-transform: scale(0.1) rotate(40deg);
            transform: scale(0.1) rotate(40deg); }
  50% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg); }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }
.index__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px; }

.about {
  margin-bottom: 3.125rem; }
  @media (max-width: 480px) {
    .about {
      display: none; } }

.about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.about__item {
  width: 50%; }
  @media (max-width: 480px) {
    .about__item {
      font-size: 0.75rem; } }

.about__item:nth-child(2) {
  background-color: #fff;
  border-radius: 5px;
  margin-left: -10%;
  margin-top: 14%;
  max-height: 37.5rem;
  max-width: 43.75rem;
  overflow: hidden; }

.about__img {
  width: 100%;
  height: auto; }

.about__desc {
  left: 0;
  top: 0;
  padding: 3.125rem;
  color: #000; }
  @media (max-width: 480px) {
    .about__desc {
      padding: 1.25rem; } }

.about__text {
  line-height: 1.70; }

.about__title {
  font-size: 2.25rem;
  font-weight: bold;
  margin-bottom: 2.25rem; }

.about__text {
  margin-bottom: 2.75rem; }

.dropdown {
  position: relative;
  text-align: right;
  cursor: pointer; }
  .dropdown:hover {
    color: #FF3D00; }
    .dropdown:hover .dropdown__menu {
      opacity: 1;
      right: 0; }

.dropdown__link {
  font-size: 0.8125rem;
  text-decoration: underline;
  margin-bottom: 10px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s; }

.dropdown__menu {
  position: absolute;
  background-color: #EDEDED;
  color: #000;
  white-space: nowrap;
  border: 1px solid transparent;
  padding: 10px;
  border-radius: 0.5625rem;
  -webkit-transition: opacity .4s;
  transition: opacity .4s;
  text-align: left;
  top: 30px;
  opacity: 0;
  right: -9999px; }
  .dropdown__menu::before {
    content: "";
    display: block;
    position: absolute;
    height: 30px;
    width: 120%;
    left: 0;
    right: 0;
    top: -28px; }

.dropdown__triangle {
  display: block;
  left: 60%;
  position: absolute;
  top: -33px;
  z-index: 1000;
  border: 20px solid transparent;
  width: 0;
  height: 0;
  border-color: transparent transparent #EDEDED transparent; }

.dropdown__list {
  font-size: 0.8125rem; }

.dropdown__item--title {
  font-weight: bold; }

.hero {
  margin-bottom: 8.75rem; }

.hero h1 {
  font-size: 4.5rem;
  text-align: center;
  margin-bottom: 1.125rem; }
  @media (max-width: 480px) {
    .hero h1 {
      font-size: 3.25rem; } }

.hero p {
  text-align: center;
  margin-bottom: 2.75rem; }

.hero__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.logo__img {
  width: 7.5rem; }
  @media (max-width: 480px) {
    .logo__img {
      width: 4.375rem; } }

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1.75rem;
  margin-bottom: 7.5rem; }
  @media (max-width: 480px) {
    .header-container {
      margin-bottom: 5rem; } }

.header-wrapper {
  background: url(../img/top-line.png) center center/cover no-repeat;
  max-height: 28.125rem; }

.header-wrapper h1 {
  margin-bottom: 5rem; }

.address {
  font-style: normal; }
  @media (max-width: 480px) {
    .address {
      display: none; } }

.address__phone {
  font-size: 1.375rem;
  cursor: pointer; }

.address__phone:hover {
  color: #FF3D00; }

.control__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }

.control__input:checked ~ .control__tag {
  background-color: #e95019; }

.control__tag {
  background-color: #E7E7E7;
  cursor: pointer; }

.menu {
  font-size: 0.875rem; }

@media (max-width: 480px) {
  .footer .menu__list {
    display: none; } }

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.menu__item {
  margin-right: 3.375rem; }
  .menu__item:last-child {
    margin-right: 0px; }
  .menu__item--active .menu__link {
    color: #FF3D00; }
  .menu__item:hover {
    color: #FF3D00; }
  @media (max-width: 480px) {
    .menu__item {
      margin-right: 1.25rem; } }

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 1.125rem 3rem;
  color: #fff;
  font-size: 0.875rem;
  font-weight: bold;
  border-radius: 2.25rem;
  text-transform: uppercase;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid transparent;
  cursor: pointer;
  outline: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-box-shadow .3s;
  transition: -webkit-box-shadow .3s;
  transition: box-shadow .3s;
  transition: box-shadow .3s, -webkit-box-shadow .3s;
  overflow: hidden; }

.btn_type_first {
  background: #FF5500; }
  .btn_type_first:active {
    background: #FF3D00; }
  .btn_type_first:hover {
    -webkit-box-shadow: 0 0 20px 0 #ff3c00c9;
            box-shadow: 0 0 20px 0 #ff3c00c9; }

.btn_type_second {
  background: #fff;
  color: #FF5500;
  border: 2px solid #FF5500; }
  .btn_type_second:hover {
    background: #FF3D00;
    color: #fff; }
  .btn_type_second:active {
    background: #FF3D00;
    color: #fff; }

.btn_type_third {
  background: #8E8E8E; }
  .btn_type_third:active {
    background: #2B2B2B; }
  .btn_type_third:hover {
    -webkit-box-shadow: 0 0 20px 0 #666;
            box-shadow: 0 0 20px 0 #666; }

.news {
  margin-bottom: 7.5rem; }
  @media (max-width: 480px) {
    .news {
      margin-bottom: 3.75rem; } }

.news__title {
  margin-bottom: 3.125rem; }

.news__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.news__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  max-width: 30rem;
  width: 100%;
  max-height: 21.875rem;
  margin: 1.25rem 1.25rem;
  text-shadow: 1px 1px black;
  opacity: 1;
  -webkit-transition: opacity .2s ease;
  transition: opacity .2s ease; }
  .news__item:hover {
    opacity: .8; }

.news__img {
  border-radius: 10px;
  max-width: 100%;
  height: 100%; }

.news__desc {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  display: block;
  bottom: 0;
  left: 0;
  padding: 1.875rem;
  min-height: 9.375rem;
  overflow: hidden; }

.news__date {
  font-size: 0.875rem; }

.news__subtitle {
  font-size: 1.5rem;
  font-weight: bold; }

.banner__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.banner__img {
  width: 100%;
  height: auto; }

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 2.5rem;
  margin-bottom: 2.8125rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative; }
  .footer-container::before {
    content: "";
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 1px solid #666; }

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.social__item {
  width: 36px;
  height: 36px;
  cursor: pointer;
  margin-right: 0.625rem;
  -webkit-transition: background .5s;
  transition: background .5s; }

.social__link {
  display: block;
  height: 36px;
  width: 36px; }

.social__item--tel {
  background: url(../img/socials/telegram.png); }
  .social__item--tel:hover {
    background: url(../img/socials/t2.png); }

.social__item--vk {
  background: url(../img/socials/vk.png); }
  .social__item--vk:hover {
    background: url(../img/socials/vk2.png); }

.social__item--f {
  background: url(../img/socials/f.png); }
  .social__item--f:hover {
    background: url(../img/socials/f2.png); }

.social__item--in {
  background: url(../img/socials/in.png); }
  .social__item--in:hover {
    background: url(../img/socials/in2.png); }

.review {
  background-color: #fff;
  color: #000;
  padding-top: 3.75rem;
  padding-bottom: 3.75rem; }

.review__list {
  -webkit-column-count: 2;
          column-count: 2;
  -webkit-column-width: 2rem;
          column-width: 2rem;
  margin-bottom: 3.125rem; }
  @media (max-width: 480px) {
    .review__list {
      -webkit-column-count: 1;
              column-count: 1;
      width: 100%; } }

.review__item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  margin: 1.25rem;
  border-radius: 15px;
  padding: 3.125rem 1.875rem;
  background-color: #F4F5F5;
  -webkit-transition: -webkit-box-shadow .3s;
  transition: -webkit-box-shadow .3s;
  transition: box-shadow .3s;
  transition: box-shadow .3s, -webkit-box-shadow .3s; }
  .review__item:hover {
    -webkit-box-shadow: 2px 0.625rem 1.5625rem #3e3a61;
            box-shadow: 2px 0.625rem 1.5625rem #3e3a61; }
  @media (max-width: 480px) {
    .review__item {
      width: 90%;
      padding: 1.5625rem 1.875rem; } }

.review__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.875rem; }

.review__name {
  font-size: 1.375rem;
  font-weight: bold;
  color: #2E77A4;
  white-space: nowrap;
  margin-bottom: 10px; }
  .review__name:hover {
    text-decoration: underline; }
  .review__name::after {
    content: "";
    display: inline-block;
    background: url(../img/socials/vk-blue.png) no-repeat;
    width: 1.875rem;
    height: 1.875rem;
    margin-left: 0.375rem;
    -webkit-transform: translateY(8px);
            transform: translateY(8px); }
  @media (max-width: 480px) {
    .review__name {
      font-size: 1rem; } }

.review__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 1.25rem; }
  @media (max-width: 480px) {
    .review__info {
      padding-left: 0.625rem; } }

.review__title {
  font-size: 1.625rem;
  font-weight: bold;
  margin-bottom: 0.875rem; }
  @media (max-width: 480px) {
    .review__title {
      font-size: 1.25rem; } }

.review__desc-text {
  margin-bottom: 3.125rem;
  color: #818181; }

.review__date {
  font-weight: 600; }

.review__img {
  max-width: 8.6875rem;
  max-height: 8.6875rem; }
  @media (max-width: 480px) {
    .review__img {
      width: 5.5625rem;
      height: 5.5625rem; } }

.tag {
  display: inline-block;
  background-color: #F2D4C9;
  padding: 0.625rem 1.5625rem;
  border-radius: 2.1875rem;
  white-space: nowrap;
  font-size: 0.8125rem; }

.lang__item {
  cursor: pointer; }
  .lang__item--active {
    color: #FF3D00; }
  .lang__item:hover {
    color: #FF3D00; }

.partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #F4F5F5;
  padding-top: 5rem;
  color: #000;
  padding-bottom: 5rem;
  width: 100%; }
  @media (max-width: 480px) {
    .partners {
      display: none; } }
  .partners h2 {
    margin-bottom: 20px; }

.partner__list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-count: 4;
          column-count: 4;
  width: 100%; }

.partner__item {
  margin-right: 3.75rem;
  margin-bottom: 3.75rem;
  -webkit-transition: -webkit-filter .5s;
  transition: -webkit-filter .5s;
  transition: filter .5s;
  transition: filter .5s, -webkit-filter .5s;
  -webkit-filter: grayscale(1);
          filter: grayscale(1); }
  .partner__item:hover {
    -webkit-filter: grayscale(0);
            filter: grayscale(0); }

.partner__img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 100%;
  height: 100%; }

.form {
  background-color: #F4F5F5;
  padding-top: 5rem;
  padding-bottom: 5rem;
  color: #000; }

.form h2 {
  margin-bottom: 20px; }

@media (max-width: 480px) {
  .form__form {
    width: 100%; } }

.form__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 480px) {
    .form__group--phones {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  @media (max-width: 480px) {
    .form__group--tags {
      -ms-flex-pack: distribute;
          justify-content: space-around; } }

.form__input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.875rem;
  margin-bottom: 1.875rem;
  height: 3.75rem;
  padding: 1.25rem 1.875rem;
  border: 1px solid transparent;
  border-radius: 5px; }
  .form__input:last-child {
    margin-right: 0px; }
  .form__input:focus {
    border-color: #cccccc; }
  .form__input--textarea {
    resize: none;
    height: 14.6875rem; }
  @media (max-width: 480px) {
    .form__input {
      margin-right: 0rem; } }

.form__services {
  width: 40%; }
  @media (max-width: 480px) {
    .form__services {
      width: 40%; } }

.form__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 1.875rem;
  padding-left: 0.625rem; }
  @media (max-width: 480px) {
    .form__list {
      width: -webkit-min-content;
      width: -moz-min-content;
      width: min-content;
      min-width: 50%;
      margin-bottom: 0.625rem;
      padding-left: 0rem; } }

.form__item {
  padding-left: 1.25rem;
  padding-bottom: 0.625rem; }
  @media (max-width: 480px) {
    .form__item {
      padding-left: 0px; } }

.form__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  gap: 10px; }
  @media (max-width: 480px) {
    .form__btn {
      -ms-flex-pack: distribute;
          justify-content: space-around; } }

.catalog {
  background-color: #fff;
  color: #000;
  padding-top: 2.5rem;
  padding-bottom: 3.75rem; }

.catalog__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: background-color .5s;
  transition: background-color .5s;
  padding: 1.875rem 0px; }
  @media (max-width: 480px) {
    .catalog__item {
      padding: 1.875rem 1.25rem;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }

.catalog__img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3; }

.catalog__img {
  width: 100%;
  height: auto; }

.catalog__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  padding: 0.625rem 1.875rem; }

.catalog__btn {
  margin-top: auto; }
  @media (max-width: 480px) {
    .catalog__btn {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }

.catalog h2 {
  margin-bottom: 1.875rem; }
  @media (max-width: 480px) {
    .catalog h2 {
      font-size: 1.25rem;
      margin-top: 1.25rem;
      margin-bottom: 1.25rem; } }

.catalog p {
  margin-bottom: 1.25rem; }
  @media (max-width: 480px) {
    .catalog p {
      font-size: 0.875rem; } }

.catalog__img {
  max-width: 25rem;
  border-radius: 2.5rem; }
  @media (max-width: 480px) {
    .catalog__img {
      max-width: 21.875rem;
      border-radius: 1.25rem; } }

.catalog hr {
  background-color: #918c8c;
  border: 1px solid #918c8c; }

.breadcrumbs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #9A9A9A;
  font-size: 0.875rem;
  padding-bottom: 0.5rem; }

.breadcrumbs__link {
  text-decoration: underline; }

.breadcrumbs__link:last-child {
  font-weight: bold; }

.breadcrumbs__separator {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex; }

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 2.5rem; }
  @media (max-width: 480px) {
    .page {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }

.page__current {
  line-height: 2rem;
  margin-right: 2rem;
  font-weight: bold; }
  @media (max-width: 480px) {
    .page__current {
      margin-right: 0px;
      margin-bottom: 10px; } }

.page__list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex; }

.page__item {
  line-height: 2.25rem;
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.875rem;
  font-weight: bold;
  border-radius: 50%;
  -webkit-transition: background-color .5s;
  transition: background-color .5s;
  display: block;
  cursor: pointer; }
  .page__item:hover {
    background-color: #ff5500; }
  .page__item--active {
    background-color: #ff5500; }
  @media (max-width: 480px) {
    .page__item {
      margin-right: 0.5rem; } }

.page__link:hover {
  border-radius: 50%; }

.service {
  margin-bottom: 8.75rem; }

.service__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  @media (max-width: 480px) {
    .service__list {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }

.service__item {
  max-width: 20rem;
  width: 100%;
  min-height: 28.125rem;
  background-color: #fff;
  border-radius: 10px;
  margin: 20px 10px;
  padding: 1.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-transition: -webkit-box-shadow .3s;
  transition: -webkit-box-shadow .3s;
  transition: box-shadow .3s;
  transition: box-shadow .3s, -webkit-box-shadow .3s;
  color: #666;
  overflow: hidden; }
  @media (max-width: 480px) {
    .service__item {
      min-width: 80%; } }

.service__img-box {
  margin-bottom: 1.875rem; }

.service__title {
  margin-bottom: 1.25rem;
  color: #000;
  font-weight: bold; }

.service__list-info {
  margin-bottom: 1.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px; }

.service__item-info {
  width: 45%; }

.service__item-price {
  color: #000;
  font-weight: bold;
  display: inline-block; }

.service__info-desc {
  font-size: 14px;
  margin-bottom: 1.25rem; }

.service__btn {
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

/*# sourceMappingURL=main.css.map */