.btn {
  display: inline-flex;
  padding: 18px 50px;
  margin: 4px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  border-radius: 36px;
  text-transform: uppercase;
  text-align: center;
  justify-content: center;
  border: 1px solid transparent;
  cursor: pointer;
  outline: none;
  align-items: center;
  transition: background .5s, box-shadow .5s;
}

.btn_type_first {
  background: #f71811;
}

.btn_type_first:hover {
  background: #bb0505;
  box-shadow: 0 0 20px 0 #ee3e37;
}

.btn_type_second {
  background: #fff;
  color: #f50;
  border: 2px solid #FF5500;
}

.btn_type_second:hover {
  background: #ee3e37;
  color: #fff;
  box-shadow: 0 0 20px 0 #ee3e37;
}

.btn_type_third {
  background: #3d3c3c;
}

.btn_type_third:hover {
  background: #656363;
  box-shadow: 0 0 20px 0 #5a5959
}