.about {
  margin-bottom: rem(50px);

  @include phones {
    display: none;
  }
}

.about__row {
  display: flex;
  justify-content: center;
}

.about__item {
  flex: 0 1 50%;

  @include phones {
    font-size: 12px;
  }
}

.about__item:nth-child(2) {
  background: #fff;
  color: #000;
  border-radius: 5px;
  margin-left: -10%;
  margin-top: 14%;
  max-width: rem(700px);
  overflow: hidden;
}


body.dark .about__item:nth-child(2) {
  color: #fff;
  background: #888;
}

.about__img {
  width: 100%;
  height: auto;
}

.about__desc {
  left: 0;
  top: 0;
  padding: rem(50px);

  @include phones {
    padding: 20px;
  }
}

.about__text {
  line-height: 1.70;
}

.about__title {
  font-size: rem(36px);
  font-weight: bold;
  margin-bottom: rem(36px);
}

.about__text {
  margin-bottom: rem(44px);
}