.about {
  margin-bottom: 50px;

  @include phones {
    display: none;
  }
}

.about__row {
  display: flex;
  justify-content: center;
}

.about__item {
  flex: 0 1 50%;

  @include phones {
    font-size: 12px;
  }
}

.about__item:nth-child(2) {
  background: #fff;
  color: #000;
  margin-left: -10%;
  margin-top: 14%;
  overflow: hidden;
}


body.dark .about__item:nth-child(2) {
  color: #fff;
  background: #888;
}

.about__img {
  max-width: 100%;
  height: auto;
}

.about__desc {
  left: 0;
  top: 0;
  padding: 50px;

  @include phones {
    padding: 20px;
  }
}

.about__text {
  line-height: 1.70;
}

.about__title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 36px;
}

.about__text {
  margin-bottom: 44px;
}