.about-section {
  margin-bottom: rem(50px);
}

.about::before {
  content: "";
  display: inline-block;
  width: rem(500px);
  height: rem(500px);
  border-radius: 5px;
  background: url(../img/cameraman.png) center center / cover no-repeat;
  vertical-align: top;
}

.about__title {
  margin-bottom: 20px;
}

.about__desc {
  display: inline-block;
  vertical-align: top;
  color: #000;
  padding: rem(70px);
  background-color: #fff;
  width: rem(750px);
  min-height: rem(450px);
  border-radius: 5px;
  margin-left: rem(-230px);
  margin-top: rem(100px);
}

.about__desc-text p{
  margin-bottom: rem(40px);
}

