.address {
  font-style: normal;
}

@media (max-width: 780px) {
  .address {
    display: none;
  }
}

.address__phone {
  font-size: 22px;
  cursor: pointer;
}

@media (hover: hover) and (pointer: fine) {
  .address__phone:hover {
    color: $red;
  }
}