.btn {
  display: inline-flex;
  padding: rem(18px) rem(48px);
  color: #fff;
  font-size: rem(14px);
  font-weight: bold;
  border-radius: rem(36px);
  text-transform: uppercase;
  text-align: center;
  justify-content: center;
  border: 1px solid transparent;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  transition: background .2s linear;
  transition: color .2s linear;
  transition: box-shadow .2s linear;
  transition: transform .1s linear;
  &:active {
    transform: translateY(4px);
  }
}

.btn_type_first {
  background: #FF5500;
}

.btn_type_second {
  background: #fff;
  color: #FF5500;
  border: 2px solid #FF5500;
  &:hover {
    background: #FF3D00;
    color: #fff;
  }
}

.btn_type_third {
  background: #8E8E8E;
}