.btn {
  display: inline-flex;
  padding: rem(18px) rem(48px);
  color: #fff;
  font-size: rem(14px);
  font-weight: bold;
  border-radius: rem(36px);
  text-transform: uppercase;
  text-align: center;
  justify-content: center;
  border: 1px solid transparent;
  cursor: pointer;
  outline: none;
  align-items: center;
  transition: box-shadow .3s;
  overflow: hidden;
}

.btn_type_first {
  background: #FF5500;
  &:active {
    background: #FF3D00;
    color: #000;
  }
  &:hover {
    box-shadow: 0 0 20px 0 #ff3c00c9;
  }
}

.btn_type_second {
  background: #fff;
  color: #FF5500;
  border: 2px solid #FF5500;
  &:hover {
    background: #FF3D00;
    color: #fff;
  }
  &:active {
    background: #FF3D00;
    color: #000;
  }
}

.btn_type_third {
  background: #8E8E8E;
  &:active {
    background: #2B2B2B;
  }
  &:hover {
    box-shadow: 0 0 20px 0 #666;
  }
}