.btn {
  display: inline-flex;
  padding: rem(18px) rem(50px);
  margin: rem(4px);
  color: #fff;
  font-size: rem(14px);
  font-weight: bold;
  border-radius: rem(36px);
  text-transform: uppercase;
  text-align: center;
  justify-content: center;
  border: 1px solid transparent;
  cursor: pointer;
  outline: none;
  align-items: center;
  transition: background .5s, box-shadow .5s;
  &:active {
    color: #000;
  }
}

.btn_type_first {
  background: #f71811;
  &:hover {
    background: #bb0505;
    box-shadow: 0 0 rem(20px) 0 #ee3e37;
  }
}

.btn_type_second {
  background: #fff;
  color: #f50;
  border: 2px solid #FF5500;
  &:hover {
    background: #ee3e37;
    color: #fff;
    box-shadow: 0 0 rem(20px) 0 #ee3e37;
  }
  &:active {
    color: #000;
  }
}

.btn_type_third {
  background: #4d4b4b;
  &:hover {
    background: #3d3c3c;
    box-shadow: 0 0 rem(20px) 0 #5a5959
  }
}