.catalog {
  background-color: #fff;
  color: #000;
  padding-top: 80px;
  padding-bottom: 60px;
}

.catalog__box {
  display: flex;
  flex-direction: column;
}

.catalog__item {
  display: flex;
  transition: background-color .5s;
  margin-bottom: 40px;
  padding: 10px;
}

.catalog__info {
  padding: 10px 50px;
}

.catalog__title {
  margin-bottom: 30px;
}

.catalog__desc {
  margin-bottom: 30px;
}

.catalog__img {
  max-width: 400px;
  border-radius: 40px;
}