.catalog {
  background-color: #fff;
  color: #000;
  padding-top: rem(80px);
  padding-bottom: rem(60px);
}

.catalog__box {
  display: flex;
  flex-direction: column;
}

.catalog__item {
  display: flex;
  transition: background-color .5s;
  margin-bottom: rem(40px);
  padding: rem(10px);
}

.catalog__info {
  padding: rem(10px) rem(50px);
}

.catalog__title {
  margin-bottom: rem(30px);
}

.catalog__desc {
  margin-bottom: rem(30px);
}

.catalog__img {
  max-width: rem(400px);
  border-radius: rem(40px);
}