.catalog {
  background: #fff;
  color: #000;
  padding-top: rem(40px);
  padding-bottom: rem(60px);
  & .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.catalog__list {
  width: 80%;
}

body.dark .catalog {
  background: #888;
  color: #fff;
}

.catalog__item {
  display: flex;
  gap: 30px;
  padding: 20px 40px;
  border-radius: 20px;
  transition: all .2s ease-in;
  cursor: pointer;
  
  @include phones {
    padding: 30px 20px;
    flex-direction: column;
    align-items: center;
  }
}

.catalog__info {
  display: flex;
  flex-direction: column;
  flex: 4;
}

.catalog__img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 3;
}

.catalog__img {
  width: 100%;
  height: auto;
}

.catalog__btn {
  margin-top: auto;

  @include phones {
    display: flex;
    justify-content: center;
  }
}

.catalog h2 {
  margin-bottom: 20px;
  font-size: calc(16px + 16 * (100vw / 1280));

  @include phones {
    font-size: rem(20px);
    margin-top: rem(20px);
    margin-bottom: rem(20px);
  }
}

.catalog p {
  margin-bottom: rem(20px);

  @include phones {
    font-size: rem(14px);
  }
}

.catalog__img {
  max-width: rem(400px);
  border-radius: rem(40px);

  @include phones {
    max-width: rem(350px);
    border-radius: rem(20px);
  }
}

.catalog hr {
  background-color: rgb(145, 140, 140);
  border: 1px solid rgb(145, 140, 140);
}