.dropdown {
  position: relative;
  text-align: right;
  cursor: pointer;

  &:hover {
    color: $red;

    & .dropdown__menu {
      opacity: 1;
      max-height: 142px;
      padding: 10px;
      animation: show 0.2s ease-out;
    }
  }
}

.dropdown__link {
  font-size: 13px;
  text-decoration: underline;
  margin-bottom: 10px;
  transition: color 0.2s linear;
}

.dropdown__menu {
  position: absolute;
  background-color: #ededed;
  color: #000;
  white-space: nowrap;
  border: 1px solid transparent;
  padding: 0px;
  border-radius: 9px;
  text-align: left;
  top: 30px;
  right: 0px;
  opacity: 0;
  max-height: 0px;

  &::before {
    content: "";
    display: block;
    position: absolute;
    height: 30px;
    width: 120%;
    left: 0;
    right: 0;
    top: -28px;
  }
}

body.dark .dropdown__menu {
  background: #888;
  color: #fff;
}

.dropdown__triangle {
  display: block;
  left: 60%;
  position: absolute;
  top: -33px;
  z-index: 1000;
  border: 20px solid transparent;
  width: 0;
  height: 0;
  border-color: transparent transparent #ededed transparent;
}

body.dark .dropdown__triangle {
  border-color: transparent transparent #888 transparent;
  color: #fff;
}

.dropdown__list {
  font-size: 13px;
}

.dropdown__item--title {
  font-weight: bold;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
