.dropdown {
  position: relative;
  text-align: right;
  cursor: pointer;
  &:hover {
    color: #FF3D00;
    & .dropdown__menu {
      opacity: 1;
      right: 0;
    }
  }
}

.dropdown__link {
  font-size: rem(13px);
  text-decoration: underline;
  margin-bottom: 10px;
  transition: color 0.2s linear;
}

.dropdown__menu {
  position: absolute;
  background-color: #EDEDED;
  color: #000;
  white-space: nowrap;
  border: 1px solid transparent;
  padding: 10px;
  border-radius: rem(9px);
  text-align: left;
  top: 30px;
  opacity: 0;
  right: -9999px;
  transition: opacity .4s linear;
  &::before {
    content: "";
    display: block;
    position: absolute;
    height: 30px;
    width: 120%;
    left: 0;
    right: 0;
    top: -28px;
  }
}

.dropdown__triangle {
  display: block;
  left: 60%;
  position: absolute;
  top: -33px;
  z-index: 1000;
  border: 20px solid transparent;
  width: 0;
  height: 0;
  border-color: transparent transparent #EDEDED transparent;  
}

.dropdown__list {
font-size: rem(13px);
}

.dropdown__item--title {
font-weight: bold;
}