.dropdown {
  position: relative;
  cursor: pointer;
  text-align: right;
}

.dropdown__link {
  font-size: rem(13px);
  text-decoration: underline;
  margin-bottom: rem(10px);
  transition: color 0.3s;
}

.dropdown__link:hover {
  color: #FF3D00;
}

.dropdown:hover .dropdown__menu  {
  right: 0;
  opacity: 1;
 }

 .dropdown__menu {
  position: absolute;
  opacity: 0;
  background-color: #EDEDED;
  color: #000;
  white-space: nowrap;
  border: 1px solid transparent;
  padding: rem(10px);
  border-radius: rem(9px);
  right: rem(-9999px);
  transition: opacity .4s;
  top: rem(30px);
 }

 .dropdown__menu::after {
  content: "";
  display: block;
  left: 60%;
  position: absolute;
  top: rem(-33px);
  z-index: 1000;
  border: rem(20px) solid transparent;
  width: 0;
  height: 0;
  border-color: transparent transparent #EDEDED transparent;  
 }

 .dropdown__list {
  font-size: rem(13px);
 }

 .dropdown__item--title {
  font-weight: bold;
 }