.footer-box {
  display: flex;
  justify-content: space-between;
  padding-top: rem(40px);
  margin-bottom: rem(45px);
  align-items: center;
}


.footer hr {
  background-color: #666;
  border: 1px solid #666;
}