.form {
  padding: 80px 0;
  color: #000;
}

body.dark .form {
  color: #fff;
  & input,
  textarea {
    background: #222;
    color: #fff;
  }
}

.form__title {
  margin-bottom: 20px;
}

.form__form {
  @include phones {
    width: 100%;
  }
}

.form__group {
  display: flex;
  &--phones {
    @include phones {
      flex-direction: column;
    }
  }
  &--tags {
    @include phones {
      display: none;
    }
  }
}

.form__input {
  flex: 1;
  margin-right: rem(30px);
  margin-bottom: rem(30px);
  height: rem(60px);
  padding: rem(20px) rem(30px);
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: #cccccc;

  &:last-child {
    margin-right: 0px;
  }

  &:focus {
    border-color: #cccccc;
  }

  &--textarea {
    resize: none;
    height: 235px;
  }

  @include phones {
    margin-right: 0px;
  }
}

.form__services {
  flex: 0 0 40%;
}

.form__list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  padding: 10px 0;
  gap: 20px;

  @include phones {
    width: min-content;
    min-width: 50%;
    margin-bottom: 10px;
    padding: 0px;
  }
}

.form__btn {
  display: flex;
  justify-content: flex-end;
  gap: 20px;

  @include phones {
    justify-content: space-around;
  }
}
