.header-main {
  padding-top: 28px;
  padding-bottom: 120px;
  
  @include phones {
    margin-bottom: 60px;
  }
}

.header--wrapper {
  background: url(../img/top-line.png) center center / cover no-repeat;
}

.header-pb {
  padding-top: 28px;
  padding-bottom: 120px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__title {
  margin-bottom: 80px;
}