.hero-section {
  margin-bottom: rem(140px);
}

.hero-section h1 {
  font-size: rem(72px);
  text-align: center;
  margin-bottom: rem(18px);

  @include phones {
    font-size: rem(52px);
  }
}

.hero-section p {
  text-align: center;
  margin-bottom: rem(44px);
}

.hero-section__btn {
  display: flex;
  justify-content: center;
}