.menu__list {
  display: flex;
  gap: 40px;
  @include phones {
    gap: 20px;
  }
}

.footer .menu__list {
  @include phones {
    display: none;
  }
}

.menu__item {
  transition: color .2s linear;

  &--active .menu__link {
    color: $red;
  }

  &:hover {
    color: $red;
  }
}