.menu__list {
  display: flex;
  gap: 60px;
  @include phones {
    gap: 15px;
    font-size: 14px;
  }
}

.footer .menu__list {
  @include phones {
    display: none;
  }
}

.menu__item {
  transition: color 0.2s ease-in;
  &--active .menu__link {
    color: $red;
  }
  &:hover {
    color: $red;
  }
}
