.menu {
  font-size: rem(14px);
}

.footer .menu__list {
  @include phones {
    display: none;
  }
}

.menu__list {
  display: flex;
}

.menu__item {
  margin-right: rem(54px);
  transition: color .2s linear;
  &:last-child {
    margin-right: 0px;
  }
  &--active .menu__link {
    color: #FF3D00;
  }
  &:hover {
    color: #FF3D00;
  }
  @include phones {
    margin-right: rem(20px);
  }
}
