.news {
  margin-bottom: 120px;
  @include phones {
    margin-bottom: 60px;
  }
}

.news__title {
  margin-bottom: 20px;
}

.news__list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.news__item {
  display: flex;
  position: relative;
  min-width: 350px;
  max-width: 450px;
  text-shadow: 1px 1px black;
  opacity: 1;
  transition: opacity 0.1s linear;
  flex: 0 1 calc(50% - 20px);
  &:hover {
    opacity: 0.8;
  }
}
