.news {
  margin-bottom: 120px;
  @include phones {
    margin-bottom: 60px;
  }
}

.news__title {
  margin-bottom: 20px;
}

.news__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .news__list {
    grid-template-columns: 1fr;
    justify-content: center;
    max-width: 550px;
    width: 100%;
  }
}
