.page {
  display: flex;
  text-align: center;
  justify-content: center;
  padding-top: rem(40px);
  &--dark {
    color: #fff;
  }
  &--light {
    color: #000;
  }
  @include phones {
    flex-direction: column;
    align-items: center;
  }
}

.page__current {
  line-height: rem(32px);
  margin-right: rem(32px);
  font-weight: bold;
  @include phones {
    margin-right: 0px;
    margin-bottom: 10px;
  }
}

.page__list {
  display: inline-flex;
}

.page__item {
  line-height: rem(36px);
  width: rem(40px);
  height: rem(40px);
  margin-right: rem(14px);
  font-weight: bold;
  border-radius: 50%;
  display: block;
  cursor: pointer;
  &:hover {
    transition: background-color .4s linear;
    transition: box-shadow .1s linear;
    background-color: rgba(255, 85, 0, 1);
    box-shadow: 0 0 20px 0 #ff3c00c9;
  }
  &--active {
    background-color: rgba(255, 85, 0, 1);
  }
  @include phones {
    margin-right: rem(8px);
  }
}