.paper {
  margin-bottom: rem(200px);
  
  @include phones {
    display: none;
  }
}

.paper__desc {
  background-color: #fff;
  color: #000;
  border-radius: 5px;
  padding: rem(40px);
  margin-bottom: rem(50px);
}

.paper__title {
  margin-bottom: rem(40px);
}

.paper__desc-text p{
  margin-bottom: rem(20px);
}
