.partners {
  display: flex;
  background: #f4f5f5;
  padding-top: 80px;
  color: #000;
  padding-bottom: 80px;
  width: 100%;
}

body.dark .partners {
  background: #666;
}

.partners__title {
  margin-bottom: 60px;
  text-align: center;
}

.partners__list {
  flex-direction: column;
  flex-wrap: wrap;
  column-count: 4;
  width: 100%;
}

.partners__item {
  margin-right: 60px;
  margin-bottom: 60px;
}

.partners__img-box {
  display: flex;
  justify-content: center;
  object-fit: cover;
}

@media (max-width: 768px) {
  .partners__list {
    column-count: 2;
    margin-left: 20px;
  }
  .partners__img-box {
    flex-direction: column;
  }
}
