.partners {
  background-color: #F4F5F5;
  padding-top: rem(80px);
  color: #000;
  padding-bottom: rem(80px);
  @include phones {
    display: none;
  }
}

.partner__box {
  display: flex;
  max-width: 100%;
}

.partner__list {
  flex-direction: column;
  flex-wrap: wrap;
  column-count: 4;
}

.partner__item {
  margin-right: rem(80px);
  margin-bottom: rem(60px);
  transition: filter .5s;
  filter: blur(1px) grayscale(1);
  &:hover {
    filter: blur(0px) grayscale(0);
  }
}

.partner__img-box {
  display: flex;
  justify-content: center;
}