.reviews {
  color: #000;
  padding: 60px 0;
}

.reviews__list {
  column-count: 2; 
  column-gap: 20px;
}

.reviews__item {
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .reviews__list {
    column-count: 1;
    padding: 0 20px;
  }
}
