.reviews {
  background: #fff;
  color: #000;
  padding-top: rem(60px);
  padding-bottom: rem(60px);
}

body.dark .reviews {
  background: #888;
  color: #fff;
}

.reviews__list {
  gap: 30px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 768px) {
  .reviews__list {
    column-count: 1;
    width: 100%;
  }
}
