.review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  padding: calc(20px + 30 * (100vw / 1280)) calc(10px + 20 * (100vw / 1280));
  background-color: #F4F5F5;
  transition: box-shadow .2s linear;
  width: calc(200px + 260 * (100vw / 1280));
  overflow: hidden;
  word-wrap: break-word;
  overflow-wrap: break-word;
  cursor: pointer;
  &:hover {
    box-shadow: 4px 10px 15px rgb(62, 58, 58 / .6);
  }
  
  @include phones {
    width: 100%;
    padding: rem(25px) rem(30px);
  }
}

body.dark .review {
  background: #222;
  color: #fff;
  &:hover {
    box-shadow: 2px 1px 15px #fff;
  }
}

.review__contact {
  display: flex;
  width: 100%;
  margin-bottom: calc(10px + 20 * (100vw / 1280));
}

.review__img {
  max-width: calc(89px + 50 * (100vw / 1280));
  max-height: calc(89px + 50 * (100vw / 1280));

  @include phones {
    width: rem(89px);
    height: rem(89px);
  }
}

.review__name {
  font-size: calc(12px + 10 * (100vw / 1280));
  font-weight: bold;
  margin-bottom: 10px;
  margin-right: 20px;

  &:hover {
    text-decoration: underline;
  }

  @include phones {
    font-size: rem(16px);
  }
}

.review__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
  
  @include phones {
    padding-left: rem(10px);
  }
}

.review__desc {
  overflow: hidden;
  width: 100%;
}

.review__title {
  font-size: calc(10px + 16 * (100vw / 1280));
  font-weight: bold;
  margin-bottom: rem(14px);  

  @include phones {
    font-size: rem(20px);
  }
}

.review__desc-text {
  width: 100%;
  margin-bottom: rem(50px);
  color: #818181;
}

.review__date {
  font-weight: 600;
  font-size: 14px;
  margin-top: auto;
}
