.reviews {
  background-color: #fff;
  color: #000;
  padding-top: rem(60px);
  padding-bottom: rem(60px);
}

.reviews__list {
  column-count: 2;
  column-width: 2rem;
  margin-bottom: rem(50px);
  @include phones {
    column-count: 1;
    width: 100%;
  }
}

.reviews__item {
  margin: rem(20px);
}
