.review {
  background-color: #fff;
  color: #000;
  padding-top: rem(80px);
  padding-bottom: rem(60px);
}

.review__box {
  display: flex;
}

.review__list {
  flex-direction: column;
  column-count: 2;
  margin-bottom: rem(50px);
}

.review__item {
  background-color: #F4F5F5;
  margin: rem(20px);
  border-radius: rem(15px);
  padding: rem(50px) rem(30px);
  display: inline-flex;
  flex-direction: column;
  transition: box-shadow .3s;

  &:hover {
    box-shadow: 2px rem(10px) rem(25px) rgb(62, 58, 58 / .6);
  }
}

.review__contact {
  display: flex;  
  margin-bottom: rem(30px);
}

.review__name {
  font-size: rem(24px);
  font-weight: bold;
  color: #2E77A4;
  white-space: nowrap;
}

.review__name:hover {
  text-decoration: underline;
}

.review__name::after {
  content: "";
  display: inline-block;
  background: url(./img/socials/vk-blue.png) no-repeat;
  width: rem(30px);
  height: rem(30px);
  margin-left: 6px;
  transform: translateY(5px);
}

.review__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: rem(20px);
}

.review__title {
  font-size: rem(30px);
  font-weight: bold;
  margin-bottom: rem(14px);
}

.review__desc-text {
  margin-bottom: rem(50px);
  color: #818181;
}

.review__date {
  font-weight: 600;
}
