.service {
  margin-bottom: rem(140px);
}

.service__list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  @include phones {
    justify-content: center; 
    align-items: center;
  }
}

.service__item {
  width: rem(360px);
  min-height: rem(550px);
  background-color: #fff;
  border-radius: 5px;
  margin: rem(10px);
  padding: rem(30px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: box-shadow .3s;
  color: #666;
  overflow: hidden;
  @include phones {
    min-width: 80%;
  }
}

.service__img-box {
  margin-bottom: rem(30px);
}

.service__title {
  margin-bottom: rem(20px);
  color: #000;
}

.service__list-info {
  margin-bottom: rem(26px);
  display: flex;
}

.service__item-info {
  margin-right: rem(20px);
}

.service__info {
  margin-bottom: rem(30px);
}

.service__btn {
  margin-top: auto;
  display: flex;
  justify-content: center;
}