.service {
  display: flex;
  flex-direction: column;
  background: #fff;
  color: #666;
  border-radius: 12px;
  padding: 30px;
  overflow: hidden;
}

body.dark .service {
  background: #888;
  color: #fff;
}

.service__img-box {
  margin-bottom: 30px;
}

.service__title {
  margin-bottom: 20px;
  color: #000;
  font-weight: bold;
}

body.dark .service__title {
  color: #fff;
}

.service__text {
  margin-bottom: 20px;
  overflow: hidden;
}

.service__btn {
  margin-top: auto;
  display: flex;
  justify-content: center;
}