.service {
  margin-bottom: rem(140px);
}

.service__list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  @include phones {
    justify-content: center; 
    align-items: center;
  }
}

.service__item {
  max-width: rem(320px);
  width: 100%;
  min-height: rem(450px);
  background-color: #fff;
  border-radius: 10px;
  margin: 20px 10px;
  padding: rem(30px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: box-shadow .3s;
  color: #666;
  overflow: hidden;
  @include phones {
    min-width: 80%;
  }
}

.service__img-box {
  margin-bottom: rem(30px);
}

.service__title {
  margin-bottom: rem(20px);
  color: #000;
  font-weight: bold;
}

.service__list-info {
  margin-bottom: rem(26px);
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.service__item-info {
  width: 45%;
}

.service__item-price {
  color: #000;
  font-weight: bold;
  display: inline-block;
}

.service__info-desc {
  font-size: 14px;
  margin-bottom: rem(20px);
}

.service__btn {
  margin-top: auto;
  display: flex;
  justify-content: center;
}