.social__list {
  display: flex;
}

.social__item {
  width: 36px;
  height: 36px;
  cursor: pointer;
  margin-right: rem(10px);
  transition: background .5s;
}

.social__link {
  display: block;
  height: 36px;
  width: 36px;
}

.social__item--tel {
  background: url(../img/socials/telegram.png);
  &:hover {
    background: url(../img/socials/t2.png);
  }
}

.social__item--vk {
  background: url(../img/socials/vk.png);
  &:hover {
    background: url(../img/socials/vk2.png);
  }
}

.social__item--f {
  background: url(../img/socials/f.png);
  &:hover {
    background: url(../img/socials/f2.png);
  }
}

.social__item--in {
  background: url(../img/socials/in.png);
  &:hover {
    background: url(../img/socials/in2.png);
  }
}
